package lab

import (
    "fmt"
    "reflect"
    "encoding/json"
    "database/sql/driver"
    "gorm.io/datatypes"

    {{ range .imports }}
    {{ . }}
    {{ end }}
)

type {{ .name }} {{ .base }}

type {{ .name }}s {{ .listtype }}


{{ .init }}

func (c *{{ .name }}s) Scan(value interface{}) (err error) {
    if val, ok := value.(datatypes.JSON); ok {
        err = json.Unmarshal([]byte(val), c)
    } else if val, ok := value.(json.RawMessage); ok {
        err = json.Unmarshal([]byte(val), c)
    } else if val, ok := value.([]byte); ok {
        err = json.Unmarshal([]byte(val), c)
    } else {
        err = fmt.Errorf("sql: unsupported type %s", reflect.TypeOf(value))
    }
    return
}

func (c {{ .name }}s) Value() (value driver.Value, err error) {
    var tmp []byte
    tmp, err = json.Marshal(c)
    value = datatypes.JSON(tmp)
    return
}
